
body {
  background-color: #E6DFDF;
  text-align: center;
}

h1 {
  font-family: 'Impact', cursive;
  color: #1E1313;
  font-size: 90px;
  padding:30px;
}

p {
  font-family: "Impact";
  font-size: 30px;
}

header {
  text-align: center;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
