
body {
  text-align: center;
}

.container-fluid {
  background-color: #FEFEFE;
}

h1 {
  font-family: "Didot";
  color: #1E1313;
  font-size: 90px;
  padding:30px;
   font-weight: bold;
}

p {
  font-family: "Bookman";
  font-size: 30px;
}

span {
  font-size: 25px;
}

div {
    background-color: #E6DFDF;
}
h2 {
  font-family: "Bookman";
}

header {
  text-align: center;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
