<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <div class="page-header">
    <h1>Avani Aggrwal</h1>
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  </div>

  <h2>
    <a href = "https://www.linkedin.com/in/avani-aggrwal/"> Here's my LinkedIn!</a>
  </h2>

  <h2>
    My email is: aa974@cornell.edu
  </h2>

  <header>
    <% include ../helpers/navbar %>
  </header>
</body>
