<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <div class="page-header">
    <h1>Avani Aggrwal</h1>
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
  </div>

  <header>
    <% include ../helpers/navbar %>
  </header>
</body>
